@using UPDown.Common.PessoaAPI
@inject TokenAuthenticationStateProvider TokenProvider
@inject NavigationManager nav

@code {
    private bool collapseNavMenu = true;

    private string ShowLogin { get; set; }
    private string ShowLogOut { get; set; }
    private string ShowAdmin { get; set; }
    private string ShowProfessor { get; set; }

    void SetShowItems()
    {
        Console.WriteLine("Atualizando o NAVMenu");
        ShowLogin = (!TokenProvider.userType.HasValue) ? "" : "display: none !important;";
        ShowLogOut = (!TokenProvider.userType.HasValue) ? "display: none !important;" : "";
        ShowAdmin = (TokenProvider.userType.HasValue && TokenProvider.userType == UserType.Admin) ? "" : "display: none !important;";
        ShowProfessor = (TokenProvider.userType.HasValue && TokenProvider.userType == UserType.Professor) ? "" : "display: none !important;";
    }

    protected override void OnParametersSet()
    {
        SetShowItems();
        base.OnParametersSet();
    }

    protected override void OnInitialized()
    {
        SetShowItems();
        base.OnInitialized();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void LogOut()
    {
        TokenProvider.SetToken(null);
        nav.NavigateTo("/", forceLoad: true);
    }
}

<div class="navigation mdl-navigation" style="background-color: rgb(22,27,46)">
    <a class="mdl-navigation__link" href="">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
            home
        </i>
        Home
    </a>
    <a class="mdl-navigation__link" href="aulas">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
            smart_display
        </i>
        Aulas
    </a>
    <a class="mdl-navigation__link" href="alunocrud" style="@ShowAdmin">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
            wysiwyg
        </i>
        Alunos
    </a>
    <a class="mdl-navigation__link" href="professorcrud" style="@ShowAdmin">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
            wysiwyg
        </i>
        Professores
    </a>
    <a class="mdl-navigation__link" href="materiacrud" style="@ShowAdmin">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
            wysiwyg
        </i>
        Materias
    </a>
    <a class="mdl-navigation__link" href="competenciacrud" style="@ShowAdmin">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
            wysiwyg
        </i>
        Competencias
    </a>
    <a class="mdl-navigation__link" href="conteudocrud" style="@ShowProfessor">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
            view_list
        </i>
        Conteudos
    </a>

    <div style="position: absolute; bottom: 0px; left: 0;">
        <a class="mdl-navigation__link" href="login" style="width: 11.35rem; @ShowLogin">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
                account_circle
            </i>
            Entrar
        </a>
        <div class="mdl-navigation__link" href="login" style="width: 11.35rem; cursor: pointer; @ShowLogOut" @onclick="(x => {LogOut();})">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
                account_circle
            </i>
            Sair
        </div>
        <a class="mdl-navigation__link" href="https://github.com/luizgustavo77/UPDown" style="width: 11.35rem;">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
                code
            </i>
            GitHub
        </a>
    </div>
</div>