@page "/alunocrud"
@attribute [Authorize]

@inject NavigationManager NavManager
@inject TokenAuthenticationStateProvider TokenProvider

@using UPDown.Common.PessoaAPI

@code {
    public List<FTTBlazor.FTTGridColumn> cols = new List<FTTBlazor.FTTGridColumn>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override async Task OnParametersSetAsync()
    {
        cols.Add(new FTTBlazor.FTTGridColumn() { FieldName = "Name", FieldDescription = "Nome" });
        cols.Add(new FTTBlazor.FTTGridColumn() { FieldName = "Email", FieldDescription = "E-mail" });
    }
}

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid" style="height: 35rem;">

    <FTTCrud Interface="Common.PessoaAPI.AlunoDTO" Columns="cols" Token="@TokenProvider.GetToken()" Endpoint="@APIGateway.Alunos" Title="Alunos">
        <ModalContent>
            <FTTInput Required="true" Label="Nome" @bind-Value="@context.Name" Size="12" BorderRight="true"></FTTInput>
            <FTTInput Required="true" Label="E-Mail" Type="InputType.Email" @bind-Value="@context.Email" Size="6" BorderRight="true"></FTTInput>
            <FTTInput Required="true" Label="Senha" @bind-Value="@context.Senha" Size="6" BorderRight="true"></FTTInput>
        </ModalContent>
    </FTTCrud>

</div>