@page "/professorcrud"

@code {
    public List<FTTBlazor.FTTGridColumn> cols = new List<FTTBlazor.FTTGridColumn>();
@inject TokenAuthenticationStateProvider TokenProvider

    protected override async Task OnParametersSetAsync()
    {
        cols.Add(new FTTBlazor.FTTGridColumn() { FieldName = "Name", FieldDescription = "Nome" });
        cols.Add(new FTTBlazor.FTTGridColumn() { FieldName = "Email", FieldDescription = "E-mail" });
        cols.Add(new FTTBlazor.FTTGridColumn() { FieldName = "CPF", FieldDescription = "CPF" });
    }
}

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid page-height">

    <FTTCrud Interface="Common.PessoaAPI.ProfessorDTO" Columns="cols" Token="@TokenProvider.GetToken()" Endpoint="@APIGateway.Professores" Title="Professores">
        <ModalContent>
            <FTTInput Required="true" Label="Nome" @bind-Value="@context.Name" Size="12"></FTTInput>
            <FTTInput Required="true" Label="E-Mail" Type="InputType.Email" @bind-Value="@context.Email" Size="6"></FTTInput>
            <FTTInput Required="true" Label="Senha" @bind-Value="@context.Senha" Size="6"></FTTInput>
            <FTTInput Required="true" Label="CPF" Type="InputType.CPF" @bind-Value="@context.CPF" Size="6"></FTTInput>
            <FTTInput Required="true" Label="CEP" Type="InputType.CEP" @bind-Value="@context.CEP" Size="6"></FTTInput>
        </ModalContent>
    </FTTCrud>

</div>