@page "/competenciacrud"
@inject TokenAuthenticationStateProvider TokenProvider

@code {
    public List<FTTBlazor.FTTGridColumn> cols = new List<FTTBlazor.FTTGridColumn>();

    protected override async Task OnParametersSetAsync()
    {
        cols.Add(new FTTBlazor.FTTGridColumn() { FieldName = "Name", FieldDescription = "Nome" });
        cols.Add(new FTTBlazor.FTTGridColumn() { FieldName = "NameMateria", FieldDescription = "Materia" });
        cols.Add(new FTTBlazor.FTTGridColumn() { FieldName = "NameProfessor", FieldDescription = "Professor" });
    }
}

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid" style="height: 35rem;">

    <FTTCrud Interface="Common.AulaAPI.CompetenciaDTO" Columns="cols" Token="@TokenProvider.GetToken()" Endpoint="@APIGateway.Competencias" Title="Competencias">
        <ModalContent>
            <FTTInput Required="true" BorderRight="true" Label="Titulo" @bind-Value="@context.Name" Size="12"></FTTInput>
            <FTTSelect BorderRight="true"
                       T="Common.AulaAPI.MateriaDTO"
                       Size="6"
                       DataSourceEndpoint="@APIGateway.Materias"
                       Required="true"
                       DataSourceDescField="Name"
                       @bind-DataId="@context.IdMateria"
                       @bind-DataDesc="@context.NameMateria"
                       Label="Materia"
                       Filter="(x => !string.IsNullOrWhiteSpace(x.Name))"
                       TokenProvider="@TokenProvider.GetToken()">
            </FTTSelect>
            <FTTSelect BorderRight="true"
                       T="Common.PessoaAPI.ProfessorDTO"
                       Size="6"
                       DataSourceEndpoint="@APIGateway.Professores"
                       Required="true"
                       DataSourceDescField="Name"
                       @bind-DataId="@context.IdProfessor"
                       @bind-DataDesc="@context.NameProfessor"
                       Label="Professor"
                       Filter="(x => !string.IsNullOrWhiteSpace(x.Name))"
                       TokenProvider="@TokenProvider.GetToken()">
            </FTTSelect>
        </ModalContent>
    </FTTCrud>

</div>