@page "/conteudocrud"
@inject TokenAuthenticationStateProvider TokenProvider

@code {
    public List<FTTBlazor.FTTGridColumn> cols = new List<FTTBlazor.FTTGridColumn>();

    protected override async Task OnParametersSetAsync()
    {
        cols.Add(new FTTBlazor.FTTGridColumn() { FieldName = "Name", FieldDescription = "Nome" });
        cols.Add(new FTTBlazor.FTTGridColumn() { FieldName = "NameMateria", FieldDescription = "Materia" });
        cols.Add(new FTTBlazor.FTTGridColumn() { FieldName = "NameProfessor", FieldDescription = "Professor" });
    }
}

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid page-height">

    <FTTCrud Interface="Common.AulaAPI.ConteudoDTO" Columns="cols" Token="@TokenProvider.GetToken()" Endpoint="@APIGateway.Conteudos" Title="Conteudos">
        <ModalContent>
            <FTTInput Required="true" Label="Titulo" @bind-Value="@context.Name" Size="12"></FTTInput>
            @*<FTTCheckbox Label="Disponivel" @bind-Value="@context.Disponivel" Size="4"></FTTCheckbox>*@
            <FTTSelect BorderRight="true"
                       T="Common.AulaAPI.MateriaDTO"
                       Size="6"
                       DataSourceEndpoint="@APIGateway.Materias"
                       Required="true"
                       DataSourceDescField="Name"
                       @bind-DataId="@context.IdMateria"
                       @bind-DataDesc="@context.NameMateria"
                       Label="Materia"
                       Filter="(x => !string.IsNullOrWhiteSpace(x.Name))"
                       TokenProvider="@TokenProvider.GetToken()">
            </FTTSelect>
            <FTTSelect BorderRight="true"
                       T="Common.PessoaAPI.ProfessorDTO"
                       Size="6"
                       DataSourceEndpoint="@APIGateway.Professores"
                       Required="true"
                       DataSourceDescField="Name"
                       @bind-DataId="@context.IdProfessor"
                       @bind-DataDesc="@context.NameProfessor"
                       Label="Professor"
                       Filter="(x => !string.IsNullOrWhiteSpace(x.Name))"
                       TokenProvider="@TokenProvider.GetToken()">
            </FTTSelect>
            <FTTInput Required="true" Label="Video" @bind-Value="@context.Video" Size="12"></FTTInput>
            <FTTInput Label="Documento" @bind-Value="@context.Documento" Size="12"></FTTInput>
            <FTTInput Label="Descricao" Type="InputType.TextArea" @bind-Value="@context.Descricao" Size="12"></FTTInput>
        </ModalContent>
    </FTTCrud>

</div>